body{
    background-color: rgb(74, 0, 211);
    color: white;
}
img{
    width: 300px;
}

div{
    display: inline-block;
    margin: 35px;
}

div#wrapper{
    text-align: center;
}
header{
    float: right;
}
a{
    color: red;
    text-decoration: none;
    background-color: palegreen;
}
#mywishlist{
    opacity: 0;
}
#mywishlist:hover{
    transition: ease-out;
    opacity: 1;
}
